<div class="o-section o-topbar">

    <div class="row">
        <div class="col-sm">

            <div class="m-search">
                <input type="text" class="form-control search-bar" placeholder="Type to search...">
                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>

                <div class="m-search__result">

                    <h6 class="dropdown-header">Navigation</h6>
                    {% for key, navigation in template.cp.navigation %}
                    <a class="dropdown-item" {{ html_attributes(navigation.attributes) }}>
                        <span class="title">{{ trans(navigation.title) }}</span>
                    </a>
                    {% endfor %}
                    <h6 class="dropdown-header">Links</h6>
                    <a href="/" target="_blank" class="dropdown-item">
                        {{ trans('theme::control_panel.view_site') }}
                    </a>
                    <a href="/admin/logout" class="dropdown-item">
                        {{ trans('theme::control_panel.logout') }}
                    </a>

                </div>
            </div>

        </div>
        <div class="col-sm">

            {% for shortcut in template.cp.shortcuts %}

            <a {{ html_attributes(shortcut.attributes) }}>
                {{ icon(shortcut.icon) }}
            </a>


            {% endfor %}
        </div>
        <div class="col-sm">
            {% if template.module.composer_json.support %}

            <div class="btn-group dropleft m-menu">
                <button type="button" class=" dropdown-toggle m-menu__toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    {{ icon('fa fa-life-ring') }}
                </button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">
                        {{ trans('streams::support.support', {'type': trans(template.module.title)}) }}
                    </h6>
                    <ul class="m-list -reset">
                        <li class="dropdown-divider"></li>
                        {% for type, value in template.module.composer_json.support %}
                        {% if type == 'email' %}
                        <li class="dropdown-item">
                            <a href="mailto:{{ value }}">
                                {{ value }}
                            </a>
                        </li>
                        {% else %}
                        <li class="dropdown-item">
                            <a href="{{ value }}" target="_blank">
                                {{ trans('streams::support.' ~ type) }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item">
                            <a href="#" data-toggle="modal" data-target="#modal-help">
                                {{ trans('streams::support.more') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            {% endif %}
        </div>

        <div class="col-sm">
            <div class="btn-group dropleft m-menu">
                <button type="button" class=" dropdown-toggle m-menu__toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-astronaut"></i>
                </button>
                <div class="dropdown-menu">
                    <h6 class="dropdown-header">User</h6>
                    <ul class="m-list -reset">
                        <li class="dropdown-item">
                            <a href="/" target="_blank">
                                <i class="fa fa-external-link"></i>
                                {{ trans('theme::control_panel.view_site') }}
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/admin/logout">
                                <i class="fa fa-power-off"></i>
                                {{ trans('theme::control_panel.logout') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {#% include "theme::partials/navigation" %#}
    {# This is some stuff.... #}
    {# {% if auth_check() %}
    <a href="{{ url_route('anomaly.module.users::logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_route('anomaly.module.users::login') }}">Login</a>
    {% endif %} #}
</div>